<section id="edituser">
<div class="formarea">
<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autofocus: true, :class => 'formbox' %>
  </div>

  <div class="field">
    <%= f.label :profilepic %><br />
    <%= f.text_field :profilepic, :class => 'formbox' %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, :class => 'formbox' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
</div>
<div class="formarea">
  <div class="field">
    <%= f.label :password %> <i>(This is for a new password. Leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off", :class => 'formbox' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", :class => 'formbox' %>
  </div>
  <hr>
  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off", :class => 'formbox' %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
    <p>If updating the page doesnt work, try refreshing and then input your modifications again.</p>
  </div>
<% end %>

<h3>Cancel my account</h3>

<%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>

</div>
</section>